/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

.chatbot-popup {
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative;
}

.chat-header {
    padding: 15px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5350C4;
    border-bottom: 1px solid #ccc;
}

.chat-header .header-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-info .chatbot-logo {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    fill: #5350C4;
    flex-shrink: 0;
}

.header-info .logo-text {
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;

}

.chat-header #close-chatbot {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
    background: #5350C4;
}

.chat-body {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 460px;
    margin-bottom: 82px;
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .message .bot-avatar {
    width: 35px;
    height: 35px;
    background: #5350C4;
    align-self: flex-end;
    margin-bottom: 2px;
    border-radius: 50%;
    padding: 6px;
    fill: #fff;
    flex-shrink: 0;
}

.chat-body .user-message {
    flex-direction: column;
    align-self: flex-end;

}

.chat-body .message .message-text {
    max-width: 75%;
    padding: 12px 16px;
    background: #F2F2FF;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    word-wrap: break-word;

}

.chat-body .bot-message.thinking .message-text {
    padding: 2px 16px;
}

.chat-body .bot-message .message-text {
    background: #F2F2FF;
    border-radius: 13px 13px 13px 3px;

}

.chat-body .user-message .message-text {
    background: #5350C4;
    color: #fff;
    border-radius: 13px 13px 3px 13px;

}

.chat-body .bot-message .thinking-indicator {
    display: flex;
    gap: 4px;
    padding-block: 15px;
}

.chat-body .bot-message .thinking-indicator .dot {
    height: 7px;
    width: 7px;
    opacity: 0.7;
    background: #6F6BC2;
    border-radius: 50%;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
    animation-delay: 0.2s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
    animation-delay: 0.3s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotPulse {

    0%,
    44% {
        transform: translateY(0);
    }

    28% {
        opacity: 0.4;
        transform: translateY(-4px);
    }

    44% {
        opacity: 0.2;
    }
}

.chat-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    padding: 15px 22px 20px;
}
.chat-footer .chat-form {
    display: flex;
    align-items: center;
    background: #fff;
    outline: 1px solid #cccce5;
    border-radius: 32px;

}
.chat-footer .chat-form:focus-within {
    outline: 2px solid #5350C4;
}
.chat-form .message-input {
    height: 47px;
    width: 100%;
    padding: 13px 18px;
    border: none;
    resize: none;
    border-radius: inherit;
    outline: none;
    font-size: 0.95rem;
}
.chat-form .chat-controls {
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
    height: 47px;
    gap: 3px;
}
.chat-form .chat-controls button {
    height: 35px;
    font-size: 1.15rem;
    width: 35px;
    border-radius: 50%;
    border: none;
    background: none;
    color: #6F6BC2;
    cursor: pointer;
    transition: 0.2s ease;
}
.chat-form .chat-controls #send-message {
    background: #5350C4;
    color: #fff;
    display: none;
}
.chat-form .message-input:valid~.chat-controls #send-message{
    display: block;
}
.chat-form .chat-controls #send-message:hover {
    background: #3d39ac;
}
.chat-form .chat-controls button:hover {
    background: #f1f1ff;
}
